# Allgemeine Dateien, die ignoriert werden sollten
.DS_Store
.env
.vscode/

# Python-spezifische Dateien
__pycache__/
*.pyc
*.pyo
*.pyd

# Verzeichnis für virtuelle Umgebungen
venv/
env/
/bin
/lib
/include
/share

# Backup-Dateien
*~
*.bak