<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Werwolf-Spiel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Werwolf-Spiel</h1>
        <p>Willkommen zum Werwolf-Spiel! Wählen Sie die Rolle, die Sie spielen möchten: als Spieler oder Spielleiter.</p>
        <a href="{{ url_for('spiel_seite') }}" class="button-link primary-button">Spieler</a>
        <a href="{{ url_for('erzaehler_seite') }}" class="button-link secondary-button">Spielleiter (Erzähler)</a>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>