<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Werwolf: Das Spiel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Willkommen bei dem Werwolf-Spiel von Thomas.</h1>
        <p>Hier kannst du einfach die Rollen für dein Werwolf-Spiel verteilen und sie dir erklären lassen.</p>
        <hr>
        <a href="{{ url_for('spiel_seite') }}" class="button-link primary-button">Spiel starten</a>
    </div>
</body>
</html>